:root, .light {
    --primary: #0d6efd;
    --bg-body: #fff;
    --bg-body-secondary: #e9ecef;
    --bg-body-tertiary: #f8f9fa;
    --text: #000;
    --shadow: 0 0 1.4px #adb5bd;
}

.dark {
    --bg-body: #212529;
    --bg-body-secondary: #495057;
    --bg-body-tertiary: #343a40;
    --text: #fefefe;
    --shadow: none;
}

*,*::before,*::after {box-sizing:border-box;}

/* Layout */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    margin:0;
    padding:0;
    background-color: var(--bg-body-secondary);
    color: var(--text);
}

header, nav, main, footer {background-color: var(--bg-body);}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--shadow);
    padding: 12px 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

main {
   margin-top: 55px;
   min-height: calc(100vh - 55px);
   padding: 20px;
}

@media (min-width:768px) {
    main {
        margin-top: 50px;
        min-height: calc(100vh - 50px);
        width: calc(75% - 1.5px);
        margin-left: calc(25% + 1.5px);
    }
}

.sidenav {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    z-index: 3;
    width: 90%;
    max-width: 270px;
    transition: all 0.3s;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.sidenav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--text);
    padding: 5px 10px;
    margin-bottom: 2px;
}

.sidenav-link:hover {
    color: var(--primary);
}

@media (min-width:768px){
    .sidenav {
        left: 0;
        top: 50px;
        width: 25%;
        max-width: 25%;
    }
    #overlay {display:none;}
    .sidenav-link .bi {
        font-size: 1.3rem;
    }
    .sidenav-link:hover, .sidenav-link.active {
        color: var(--text);
        background-color: var(--bg-body-tertiary);
    }
}

.left-0 {left:0;}
.d-block {display:block!important;}
.d-sm-none {display:none;}
@media (min-width:768px) {
    .d-sm-none {display:initial;}
    .d-md-none {display:none;}
} 

/* Typography */
ul {
    list-style: none;
    padding:0;
}

.logo {
    font-size: 1.2rem;
}

.btn {
    border: none;
    background-color: transparent;
    color: var(--text);
    font-size: 1rem;
}

.link {
    text-decoration: none;
    color: var(--text);
}