{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
    <!--Header-->
    <header class="navbar bg-body fixed-top">
        <div class="container-fluid">
            <span class="navbar-brand">Manage</span>
            <div>
                <button type="button" class="btn" title="Change theme">
                    <i class="fa fa-moon"></i>
                </button>
                <button type="button" class="btn d-md-none" title="Menu" onclick="toggleMenu()">
                    <i class="fa fa-bars"></i>
                </button>
                <a href="/logout" title="Logout" class="btn d-none d-md-inline">Logout</a>
            </div>
        </div>
    </header>

    <!--SideNav-->
    <nav class="sidenav bg-body" id="sideNav">
        <ul class="list-unstyled">
            <li>
                <a href="/dashboard" title="Dashboard" class="sidenav-link {% if active_tab == 'dashboard' %}active{% endif %}">
                    <i class="fa-solid fa-gauge-high d-none d-md-inline"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/profile/manage" title="Profile" class="sidenav-link {% if active_tab == 'profile' %}active{% endif %}">
                    <i class="fa-solid fa-id-card d-none d-md-inline"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a href="/portfolio/manage" title="Portfolio" class="sidenav-link {% if active_tab == 'portfolio' %}active{% endif %}">
                    <i class="fa-solid fa-images d-none d-md-inline"></i>
                    <span>Portfolio</span>
                </a>
            </li>
            <li>
                <a href="/inbox" title="Inbox" class="sidenav-link {% if active_tab == 'inbox' %}active{% endif %}">
                    <i class="fa-solid fa-envelope d-none d-md-inline"></i>
                    <span>Inbox</span>
                </a>
            </li>
            <li>
                <a href="/account" title="Account" class="sidenav-link {% if active_tab == 'account' %}active{% endif %}">
                    <i class="fa-solid fa-circle-user d-none d-md-inline"></i>
                    <span>Account</span>
                </a>
            </li>
            <li>
                <a href="/help" title="Help" class="sidenav-link {% if active_tab == 'help' %}active{% endif %}">
                    <i class="fa-solid fa-circle-info d-none d-md-inline"></i>
                    <span>Help</span>
                </a>
            </li>
            <li class="d-sm-block d-md-none">
                <a href="/logout" title="Logout" class="sidenav-link">
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </nav>

    <!--Overlay: To close sidenav-->
    <div id="overlay" onclick="toggleMenu();"></div>

    <!--Main-->
    <main class="bg-body">
        {% if get_flashed_messages() %}
            <div class="alert alert-primary alert-dismissible fade show mb-0 text-center" role="alert">
                {{ get_flashed_messages() | join(" ") }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <div class="container-fluid">
            {% block main %}{% endblock %}
        </div>
    </main>
{% endblock %}